{
  "chess_username": "YourChessComUsername",
  "github_username": "YourGitHubUsername",
  "github_repo": "YourGitHubRepoName",
  "author_name": "Your Name",
  "author_email": "your.email@example.com"
}
